:root{
  --border-radius:5px;
  --valp-w:22;
  --indxp-w:18;
  --desp-w:60;
  --s0-w-p:60;
  --s1-w-p:calc(100-var(--s0s0-w-p));
  --btn-clr:#D6E8F8;
  --fw:95vw;
  --tag-fh:calc((3/180) * var(--fw));
  --temp-fh:calc((3/90) * var(--fw));
  --icon-h:10vw;
  
  --clr2:#eeefff;  
  --clr3:#dddddd;  
  --clr4:#D6E8F8;
  --clr5:#cceeee;
  --clr-black:#000000;
  --clr-body:#222222;
  --clr7:#626a6a;
  --clr8:#82c9ff;
  --clr9:#ffffff;
  --clr10:#b3b3b3;
  --clr11:#ddffff;
  --clr12:#dfdfdf;
  --clr13:#aaccee;
  --clr14:#aaeeee;
  --clr15:#bbddee;
  --clr16:#eeffff;
  --clr17:#00ff00;
  --clr18:#D6E8F8;  
  --clr19:#ddfffe;
}
body { background-color:var(--clr-body); font-size:var(--tag-fh);
}
.flex-main { display:flex; flex-direction:row; justify-content:center; 
             align-items:center; align-content:flex-start;
}
button { flex:1 1 100%; align-self:stretch;border-radius:5px; background-color:var(--btn-clr);
         white-space:nowrap;font-size:var(--tag-fh);
}
button:hover {
  border-radius:10px;
}
button:disabled{
 border-radius:5px;
}
.settings_icon{ height:var(--icon-h);background-color:var(--clr2); border-radius:5px;
}
.s0 { display:flex; flex-direction:column; flex:var(--s0-w-p) var(--s0-w-p); flex-wrap:nowrap; 
      justify-content:flex-start; background-color:var(--clr-body);
      border-radius:5px;
}
.s0s { display:flex; flex-direction:column; flex:1 1; justify-content:space-between;
       align-items:space-around; flex-wrap:nowrap; background-color:var(--clr18);
       border-radius:10px;margin:10px;border-width:0px;border-style:solid;padding:10px;
}
.sec_title {flex:1 1 100%;background-color:var(--clr13);color:var(--clr-black);font-size:var(--tag-fh);
            border-width:0px;border-radius:5px;text-align:center;margin:2px;
}
.s0sr { display:flex; flex-direction:row; justify-content:center;align-items:center;
        flex-wrap:nowrap; border-width:0px; border-style:solid; margin:2px;
}
.s0src{ display:flex; flex: 1 1; flex-direction:column; justify-content:center;align-items:stretch;
        flex-wrap:nowrap;border-width:0px;border-style:solid;
}
input:disabled{background-color:var(--clr19);color:var(--clr-black);font-size:var(--tag-fh);
               border-width:0;border-radius:5px;text-align:center;margin:2px;
               
}
.s1 { display:flex; flex-direction:column; flex:var(--s1-w-p) var(--s1-w-p); flex-wrap:nowrap; 
      justify-content:flex-start; background-color:var(--clr18);border-radius:5px;margin:5px;
}
input{
  width:90px; text-align:center;font-size:var(--tag-fh);border-radius:5px;
}
.message{ 
  display:flex; flex-direction:column; flex:var(--r7c1p-w) var(--r7c1p-w); font-size:var(--vmin1p6); 
  text-align:left; color:var(--clr6); height:var(--r7-h); font-size:var(--vmin2p2); 
  background-color:var(--clr5); overflow:auto; 
}
